/*todo*/
/*Convert icons to svg*/
/*Fix the circle sizing*/
/*Three dot border*/


/*@mixin media ($width) {
  @media (min-width: $width) {
    @content;
  }
}*/

*,
*:before,
*:after {
  /*border: 1px solid lightblue;*/
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
	background-color: #FAF9F6;
	color: #2E2E2E;
	font-family: 'Roboto', sans-serif;
}

a {
	color: #2E2E2E;
	font-weight: 500;
	text-decoration: none;
}

.margin-wrapper {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		margin: 2em 4em;
}

.main-section {
	flex-grow: 1;
}

.border {
	content: '';
	display: block;
	width: 100%;
	border-top: 1px solid rgba(155, 155, 155, .5);
}

.top-border {
	flex-grow: 1;
}
/*HEADING*/
.section__heading {

}

.heading__title {
	/*margin-top: 1em;*/
	text-transform: lowercase;
	font-weight: 500;
}

.title {
	font-size: 1.3em;
	position: relative;
}

.title__second {
	position: absolute;
	bottom: -0.36em;
	right: -1.98em;
}

/*PHOTO*/
.section__photo {
	margin-top: 2.8em;
}

.photo {
	position: relative;
}

.photo-img {
	width: 80%;
}

.photo::after {
	position: absolute;
	top: -1em;
	right: 0;
	content: '';
	background-color: rgba(248, 231, 28, .4);
	display: block;
	/*NEED TO ADJUST TO RATIO OF PHOTO*/
	width: 65%;
	height: 115%;
	border-radius: 50%;
}
/*TEXT*/
.section__text {
	margin-top: 1.5em;
}

.text__list-heading {
	margin-top: 1.5em;
	margin-bottom: 0;
}

.text__list {
	margin-top: .3em;
	padding-left: 1em;
	line-height: 1.4em;
}

.text__main {
	line-height: 1.6em;
}

.text__icon {

}

/*FOOTER*/
.section__footer {
	flex-grow: 1;
	margin-top: 2em;
	text-align: right;
}

/*FIX THIS*/
/*.circle {
	position: absolute;
	right: 0;
	top: -.115em;
	margin-right: 1em;
	content: '...';
	display: block;
	height: 2px;
	border-radius: 50%;
	background-color: rgba(155, 155, 155, 1);
	width: 2px;
}*/


.footer__text {
	text-transform: uppercase;
	color: #9B9B9B;
	font-size: .4em;
	letter-spacing: .32em;
}

.footer__icon {
	width: 6px;
	height: 6px;
}
