/*todo*/
/*Convert icons to svg*/
/*Fix the circle sizing*/
/*image lazy loading*/

/*@mixin media ($width) {
  @media (min-width: $width) {
    @content;
  }
}*/

*,
*:before,
*:after {
  /*border: 1px solid lightblue;*/
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
	background-color: #FAF9F6;
	color: #2E2E2E;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

a {
	color: #2E2E2E;
	font-weight: 500;
	text-decoration: none;
}

.margin-wrapper {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		padding: 2rem 4rem;
}

.main-section {
	flex-grow: 1;
}

.top-border {
	flex-grow: .8;
}
/*HEADING*/
.section__heading {

}

.heading__title {
	text-transform: lowercase;
	font-weight: 500;
}

.title {
	font-size: 2.5rem;
	position: relative;
}

.title__second {
	position: absolute;
	bottom: -0.36em;
	right: -1.98em;
}

/*PHOTO*/
.section__photo {
	margin-top: 2.8em;
}

.photo {
	position: relative;
}

.photo-img {
	width: 85%;
}

.photo::after {
	position: absolute;
	top: -1em;
	right: 0;
	content: '';
	background-color: rgba(248, 231, 28, .4);
	display: block;
	width: 68%;
	height: 120%;
	border-radius: 50%;
}
/*TEXT*/
.section__text {
	margin-top: 1.6em;
}

.text__list-heading {
	margin-top: 1.5em;
	margin-bottom: 0;
}

.text__list {
	margin-top: .3em;
	padding-left: 1em;
	line-height: 1.4em;
}

.text__main {
	line-height: 1.6rem;
}

.text__icon {

}

/*FOOTER*/
.section__footer {
	flex-grow: 1;
	margin-top: 2em;
	text-align: right;
}

.footer__text {
	text-transform: uppercase;
	color: #9B9B9B;
	font-size: .4rem;
	letter-spacing: .16rem;
}

.footer__icon {
	width: 6px;
	height: 6px;
}

/*BORDER*/
.border {
	content: '';
	display: block;
	position: relative;
	width: 100%;
	border-top: 1px solid rgba(155, 155, 155, .5);
}

.border::before {
	content: '...';
	font-size: .8em;
	color: rgba(155, 155, 155, .8);
	position: absolute;
	background-color: #FAF9F6;
	top: -.945em;
}

.top-border::before {
	padding-right: .09em;
	left: 0;
}

.bottom-border::before {
	padding-left: .09em;
	right: 0;
}
